<body>

    <div class="container">

        <h1>¡Bienvenido a Rawr Games!</h1>

        <p>Un lugar creado gracias a la API de rawg.io</p>
        <br>
        <p>Aquí podrás buscar entre más de 850.000 videojuegos y, si estás interesado en próximos eventos, registrate
            para unirte a ellos
            o crear los tuyos propios.
        </p>
        <div class="col-6">
            <a href="/auth/login" class="btn btn-dark">Acceder</a>
            <a href="/auth/register" class="btn btn-dark">Registrarse</a>
        </div>



    </div>

</body>