<body class="userList">
    <div class="container userList-1">

        <h1>Nuestra comunidad</h1>
        <a href="/" class="btn btn-dark">Volver a inicio</a>

        <hr>
        <ol class="list-group userList-2">
            {{#each users}}
            <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent">
                <img src="{{avatarImg}}" alt="" style="width: 100px;height:100px;border-radius:50%; margin-right:15px">
                <div class="ms-2 me-auto" style="font-size:25px;">
                    <div class="fw-bold mb-3" style="color:antiquewhite;">{{username}}</div>
                    <a href="/users/details/{{_id}}" class="btn btn-warning">Ver detalles</a>
            </li>

            <hr>
            {{/each}}
        </ol>
        <hr>
    </div>
</body>